$BackgroundColor : #FAF2DA
$ButonColor : #8E9775
$ButonAcilir : #7d8a58
$ButonAcilirBorder : #cfe397
$ButonHoverColor : #4A503D
$color4 : #E28F83

$textColorBlack : #000
$textColorWhite : #fff

$navbarPadTop : 7%    
$navbarPadRight : 13% 

$navbarPadding : 15px

$kampanyaHeight : 306px
$kampanyaWidth : 700px


.misyon
    width: 100%
    height: 250px
.vizyon
    width: 100%
    height: 250px
h1
    text-align: center
    color: $textColorWhite
h3
    text-align: center
    color: $BackgroundColor
.rows
    width: 100%
    height: 500px

.urunimage
    height: 700px
    width: 50%
    float: left
    background-color: $textColorWhite
    
.urunaciklama
    height: 400px
    width: 50%
    float: left

.urunfiyat
    height: 300px
    width: 50%
    float: left

#oil
    background-image: url("../images/oil.png")  
    background-size: 100% 100%
#soap
    background-image: url("../images/soap.png")  
    background-size: 100% 100%
#spice
    background-image: url("../images/spice.png")  
    background-size: 100% 100%

.footer
    margin-top: 10px
    height: 100px
    width: 100%
    background-color: $ButonHoverColor
    float: left
    .bir
        height: 100%
        width: 33.33%
        float: left
        text-align: center
    .iki
        height: 100%
        width: 33.33%
        float: left
        text-align: center
    .üc
        height: 100%
        width: 33.33%
        float: left
        text-align: center
body
    background-color: $BackgroundColor

.banner
    height: 100px
    width: 100%
    background-color: red

.menubar
    
    height: 100px
    width: 100%

.iceriksol
    
    height: 700px
    width: 10%
    float: left
    background-color: $BackgroundColor
.icerikorta
    
    height: 100%
    width: 70%
    float: left
    background-color: $ButonHoverColor
.iceriksag
    
    height: 700px
    width: 20%
    float: left
    background-color: $BackgroundColor
.menu
    position: absolute
    ul
        list-style-type: none
        .home
            border: none
            text-decoration: none
            background: $ButonColor
            display: block
            color: white
            font-weight: bold
            font-family: sans-serif
            text-align: center
            padding: $navbarPadding
            border-bottom-right-radius: 40px
        &:hover
            
            background-color: $ButonHoverColor
                 
        li
            
            a
                
                list-style-type: none
                border: none
                text-decoration: none
                background: $ButonColor
                display: block
                color: white
                font-weight: bold
                font-family: sans-serif
                text-align: center
                padding: $navbarPadding
            &:hover
                ul
                    
                    display: block
            ul
                display: none
                
                li
                    
                    a
                        
                        background: $ButonAcilir
                        text-align: left
                        
                        border-bottom: 3px solid $ButonAcilirBorder
                        font-size: .8em
                        &:hover
                            padding-left: 5px
                        
    li
        float: left
        //position: absolute
        width: 200px
        a
            &:hover
                background: $ButonHoverColor
                transition: .5s

    
        
    
